# Visual Studio Build Artifacts
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
*.obj
*.pdb
*.ilk
*.exe
*.log
*.tlog
*.recipe
*.idb
*.lastbuildstate

# Visual Studio Project & User Files
.vs/
*.user
*.suo
*.v12.suo
*.v11.suo
*.v10.suo

# External / Local configuration
.env
/Meowpocalypse/game.cpp
